<aside class="sidebar">
  <div class="brand">
    <strong>ServiceFlow</strong>
    <span>Gestão de chamados e SLA</span>
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    <a routerLink="/tickets" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Chamados</a>
    <a routerLink="/tickets/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Novo chamado</a>
    <a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Categorias</a>
    <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Usuários</a>
  </nav>
</aside>
